<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.tymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Resumes</title>
    <th:block th:replace="/template :: headstuff"></th:block>
</head>
<body>
<div th:replace="/template::navbarfragement"></div>

<div class="container-fluid">
    <h1>Resumes</h1>
    <br />
    <div class="container" th:each="siteApplicants: ${applicants}">
        <h1>Resume</h1><br /><br />
        <div class="row">
            <div class="col-sm"><h1>Contact</h1><br />
                <div class="row" th:each="wholeResume : ${siteApplicants.getWholeResumeList()}">
                    <div class="col-sm-2">
                        <img  th:src="${wholeResume.youimage}"  alt="Applicant Picture" style="width:200px;height:300px;"/>
                        <span th:text="${wholeResume.name}"></span><br />
                        <span th:text="${wholeResume.email}"></span><br /><br /><br />
                        <!--<a type="button" th:href="@{/updatecontact/{id}(id=${wholeResume.id})}" class="btn btn-dark" role="button">Update</a>--><br />
                    </div>
                    <div class="col-sm-10"></div>
                </div>
            </div>
        </div>
        <h3>Summary</h3>
            <div class="row" th:each="summaryResume : ${siteApplicant.getSummaryResumeList()}">
                <div class="col-sm-2">
                    <span th:text="${wholeResume.yousummary}"></span><br />
                    <!--<a type="button" th:href="@{/updatesummary/{id}(id=${summaryResume.id})}" class="btn btn-dark" role="button">Update</a>-->
                    <!--<a type="button" th:href="@{/deletesummary/{id}(id=${summaryResume.id})}" class="btn btn-dark" role="button">Delete</a><br /><br />-->
                </div>
                <div class="col-sm-10"></div>
            </div>
        <div class="row">
            <div class="col-sm"><h1>Education</h1><br />
                <a th:href="@{/addeducation}" class="btn-btn" role="button">Add</a><br /><br />
                <div class="row" th:each="educationResume : ${siteApplicants.getEducationResumeList()}">
                    <div class="col-sm-2">
                        <span th:text="${educationResume.degreetype}"></span> in
                        <span th:text="${educationResume.degreesubject}"></span>,<br />
                        <span th:text="${educationResume.schoolplace}"></span>,
                        <span th:text="${educationResume.degreeyear}"></span><br />
                        <!--<a type="button" th:href="@{/updateeducation/{id}(id=${educationResume.id})}" class="btn btn-dark" role="button">Update</a>-->
                        <!--<a type="button" th:href="@{/deleteeducation/{id}(id=${educationResume.id})}" class="btn btn-dark" role="button">Delete</a>--><br /><br />
                    </div>
                    <div class="col-sm-10"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"><h1>Experience</h1><br />
                <a th:href="@{/addexp}"  class="btn-btn" role="button">Add</a><br /><br />
                <div class="row" th:each="expResume : ${siteApplicants.getExpResumeList()}">
                    <div class="col-sm-2">
                        <span th:text="${expResume.jobtitle}"></span><br />
                        <span th:text="${expResume.employer}"></span>,
                        <span th:text="${expResume.yearsstart}"></span> -
                        <span th:text="${expResume.yearsend}"></span><br />
                        Duties: <span th:text="${expResume.duties}"></span><br />
                        <!--<a type="button" th:href="@{/updateexp/{id}(id=${expResume.id})}" class="btn btn-dark" role="button">Update</a>--><br />
                        <!--<a type="button" th:href="@{/deleteexp/{id}(id=${expResume.id})}" class="btn btn-dark" role="button">Delete</a>--><br /><br />
                    </div>
                    <div class="col-sm-10"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col"><h1>Skills</h1><br />
                <a th:href="@{/addskills}" class="btn-btn" role="button">Add</a> <br /><br />
                <div class="row" th:each="skillsResume : ${siteApplicants.getSkillsResumeList()}">
                    <div class="col-sm-2">
                        <span th:text="${skillsResume.particularskill}"></span>,
                        <span th:text="${skillsResume.skilllevel}"></span><br />
                        <!--<a type="button" th:href="@{/updateskill/{id}(id=${skillsResume.id})}" class="btn btn-dark" role="button">Update</a>--><br />
                        <!--<a type="button" th:href="@{/deleteskill/{id}(id=${skillsResume.id})}" class="btn btn-dark" role="button">Delete</a>--><br /><br />
                    </div>
                    <div class="col-sm-10"></div>
                </div>
            </div>
        </div>
        <h3>Cover Letter</h3>
        <div class="row" th:each="coverLetter : ${siteApplicant.getCoverLetterList()}">
            <div class="col-sm-2">
                <span th:text="${coverLetter.coverletter}"></span><br />
                <!--<a type="button" th:href="@{/updatesummary/{id}(id=${coverLetter.id})}" class="btn btn-dark" role="button">Update</a>-->
                <!--<a type="button" th:href="@{/deletesummary/{id}(id=${summaryResume.id})}" class="btn btn-dark" role="button">Delete</a><br /><br />-->
            </div>
            <div class="col-sm-10"></div>
        </div>
    </div>
</div>
<th:block th:replace="/template :: jslinks"></th:block>
</body>
</html>